<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nha Khoa Quốc Tế Y Đức</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="image/dental-clinic.jpeg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:wght@400;500;600&display=swap"
        rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body id="top">

    <!-- 
    - #HEADER
  -->

    <header class="header">

        <div class="header-top">
            <div class="container">

                <ul class="contact-list">

                    <li class="contact-item-mail">
                        <ion-icon name="mail-outline"></ion-icon>

                        <a href="mailto:yduc@.dental.vn" class="contact-link">yduc@.dental.vn</a>
                    </li>

                    <li class="contact-item-call">
                        <ion-icon name="call-outline"></ion-icon>

                        <a href="tel:0985.985.985" class="contact-link">0985.985.985</a>
                    </li>
                    <li class="nofication">
                        <ion-icon name="notifications-outline"></ion-icon>
                        <!-- <a href="notification" class="contact-link">Thông Báo</a> -->
                    </li>
                    <li class="message">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        <!-- <a href="message" class="contact-link">Tin Nhắn</a> -->
                    </li>
                    <li class="homepage-icon">
                        <a href="/admin/dashboard">
                        <ion-icon name="home-outline"></ion-icon>
                        </a>
                    </li>
                </ul>


            </div>
        </div>

        <div class="header-bottom" data-header>
            <div class="container">


                <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
                    <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
                    <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
                </button>

            </div>
        </div>

    </header>


    <div class="sidebar">
        <div class="logo-details">
            <!-- <i class='bx bxl-c-plus-plus icon'></i> -->
            <!-- <div class="logo_name">Y Đức Dental Clinic</div> -->
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="dashboard">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="service">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Xem dịch vụ</span>
                </a>
                <span class="tooltip">Xem dịch vụ</span>
            </li>
            <li>
                <a href="staff">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Xem nhân viên</span>
                </a>
                <span class="tooltip">Xem nhân viên</span>
            </li>
            <li>
                <a href="dentist">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Xem nha sĩ</span>
                </a>
                <span class="tooltip">Xem nha sĩ</span>
            </li>
            <li>
                <a href="customer">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Xem bệnh nhân</span>
                </a>
                <span class="tooltip">Xem bệnh nhân</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <div class="name_job">
                        <div class="name">
                            <%user.hoten%>
                        </div>
                        <div class="job">Admin</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>
    <div class="dashboard">
        <div class="top-row">
            <div class="card" id="totalCustomers">
                <h2>Tổng Số Khách Hàng</h2>
                <span id="totalCustomersCount">0</span>
            </div>
            <div class="card" id="totalEmployees">
                <h2>Tổng Số Nhân Viên</h2>
                <span id="totalEmployeesCount">0</span>
            </div>
            <div class="card" id="totalDentists">
                <h2>Tổng Số Nha Sĩ</h2>
                <span id="totalDentistsCount">0</span>
            </div>
        </div>
        <div class="middle-row">
            <div class="chart-container">
                <h2>Lượng Khách Hàng Qua Tháng</h2>
                <canvas id="customersOverTime"></canvas>
            </div>
            <div class="chart-container">
                <h2>Phân bố top 5 dịch vụ hay sử dụng</h2>
                <canvas id="employeeStructure"></canvas>
            </div>
        </div>
        <div class="bottom-row">
            <div class="chart-container" >
                <h2>Phân bố học vấn bác sĩ</h2>
                <canvas id="dentistEducation"></canvas>
            </div>
            <div class="chart-container">
                <h2>Phân bố vị trí nhân viên</h2>
                <canvas id="mostBookedTreatments"></canvas>
            </div>
        </div>
    </div>
    <script>
        let sidebar2 = document.querySelector(".sidebar");
        let closeBtn2 = document.querySelector("#btn");
        let searchBtn2 = document.querySelector(".bx-search");
        closeBtn2.addEventListener("click", () => {
            sidebar2.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
        });
        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
            sidebar2.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });
        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar2.classList.contains("open")) {
                closeBtn2.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            } else {
                closeBtn2.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
            }
        }
    </script>
    <script>
        document.getElementById('log_out').addEventListener('click', function () {
            window.location.href = '/'; // Thay đổi URL này thành URL trang chủ của bạn
        });
    </script>
    <script>
        // script.js
        document.addEventListener('DOMContentLoaded', () => {
            // Get data
            
            const totalCustomers =  <%= dashboard.countCustomer %>;
            const totalEmployees =<%= dashboard.countStaff %>;
            const totalDentists =<%= dashboard.countDentist %>;
            const customerByMonthData = <%= JSON.stringify(dashboard.countCustomerThroughMonth) %>;
            const StaffPosition = <%= JSON.stringify(dashboard.countStaffByPosition) %>;
            const DentistQualification = <%= JSON.stringify(dashboard.countDentistByQualification) %>;
            const BestSellerName = <%- JSON.stringify(dashboard.countTop5ServiceBestSeller.name) %>;
            const BestSellerCount = <%= JSON.stringify(dashboard.countTop5ServiceBestSeller.count) %>;
            // Set values
            document.getElementById('totalCustomersCount').textContent = totalCustomers;
            document.getElementById('totalEmployeesCount').textContent = totalEmployees;
            document.getElementById('totalDentistsCount').textContent = totalDentists;

            // Customer over time data
            const customersOverTimeData = {
                labels:['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Customers',
                    data: customerByMonthData,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                }]
            };

            // Top 5 best seller data
            const employeeStructureData = {
                labels: BestSellerName,
                datasets: [{
                    label: 'Employees',
                    data: BestSellerCount,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            // Dentist education data
            const dentistEducationData = {
                labels: ['Cử Nhân', 'Thạc Sĩ', 'Tiến Sĩ'],
                datasets: [{
                    label: 'Dentists',
                    data: DentistQualification,
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            // Most booked treatments data
            const mostBookedTreatmentsData = {
                labels: ['Lễ Tân','Thu Ngân'],
                datasets: [{
                    label: 'Treatments',
                    data: StaffPosition,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            // Line Chart
            new Chart(document.getElementById('customersOverTime'), {
                type: 'line',
                data: customersOverTimeData,
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Month'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Number of Customers'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false // Tắt legend
                        }
                    },
                }
            });

            // Bar Chart for Employee Structure
            new Chart(document.getElementById('employeeStructure'), {
                type: 'bar',
                data: employeeStructureData,
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: false,
                                text: 'Position'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Number of Employees'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false // Tắt legend
                        }
                    }
                }
            });

            // Pie Chart for Dentist Education
            new Chart(document.getElementById('dentistEducation'), {
                type: 'pie',
                data: dentistEducationData,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right'
                        }
                    }
                }
            });

            // Pie Chart for Most Booked Treatments
            new Chart(document.getElementById('mostBookedTreatments'), {
                type: 'pie',
                data: mostBookedTreatmentsData,
                maintainAspectRatio: false,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right'
                        }
                    }
                }
            });
        });

    </script>


    <style>
        
        .dashboard {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            width: 90%;
            max-width: 1200px;
            margin :50px auto;
        }

        .top-row {
            grid-column: span 3;
            display: flex;
            justify-content: space-between;
            height: 25vh;
            margin-bottom: 20px;
        }

        .middle-row
        {
            margin-top:-90px;
            grid-column: span 3;
            display: flex;
            justify-content: space-between;
            height: 40vh;
            text-align: center;
        }
        .bottom-row {
            margin-top:-40px;
            grid-column: span 3;
            display: flex;
            justify-content: space-between;
            height: 40vh;
            text-align: center;
        }

        .card {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            flex: 0.5;
            margin: 10px 10px;
        }

        .card h2 {
            margin: 0 0 10px;
        }

        .card span {
            font-weight: bold;
            font-size: 3em;
            color: #333;
        }

        .chart-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            flex: 1;
            margin: 0 10px;
            justify-content: center;
            align-items: center;
        }
    </style>
    <!-- 
        - #HERO
      -->

    <!-- 
        - #SERVICE
      -->
    <!-- 
        - #DOCTOR
      -->



    <!-- 
    - #FOOTER
  -->

    <!-- #BACK TO TOP
  -->

    <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
    </a>



    <!-- 
    - custom js link
  -->
    <script src="./assets/js/script.js" defer></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>