
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nha Khoa Quốc Tế Y Đức</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="image/dental-clinic.jpeg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:wght@400;500;600&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header">

    <div class="header-top">
      <div class="container">

        <ul class="contact-list">

          <li class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>

            <a href="mailto:yduc@.dental.vn" class="contact-link">yduc@.dental.vn</a>
          </li>

          <li class="contact-item">
            <ion-icon name="call-outline"></ion-icon>

            <a href="tel:0985.985.985" class="contact-link">0985.985.985</a>
          </li>

        </ul>
           

      </div>
    </div>

    <div class="header-bottom" data-header>
      <div class="container">

        <a href="#" class="logo">Nha Khoa Y Đức</a>

        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li>
              <a href="#home" class="navbar-link" data-nav-link>Trang Chủ</a>
            </li>

            <li>
              <a href="#service" class="navbar-link" data-nav-link>Dịch Vụ</a>
            </li>

            <li>
              <a href="#doctor" class="navbar-link" data-nav-link>Đội Ngũ</a>
            </li>

            <li>
              <a href="#last-footer" class="navbar-link" data-nav-link>Liên Lạc</a>
            </li>
            <li>
                <a href="login" class="navbar-link" >Đăng Nhập</a>
              </li>
          </ul>
        </nav>

        <a href="#" class="btn">Đặt lịch hẹn</a>

        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>

      </div>
    </div>

  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" style="background-image: url('image/hero-bg.png')"
        aria-label="hero">
        <div class="container">

          <div class="hero-content">
            <p class="section-subtitle">Chào mừng đến với nha khoa Y Đức</p>

            <h1 class="h1 hero-title">Vẽ Tương Lai Qua Nụ Cười</h1>

            <p class="hero-text">
              Chúng tôi ở đây với sứ mệnh mang đến hàng triệu tương lai hạnh phúc qua nụ cười của bạn. 
              Hãy để chúng tôi chăm sóc cho nụ cười của bạn. 
            </p>

            <form action="" class="hero-form">
              <input type="email" name="email_address" aria-label="email" placeholder="Nhập số điện thoại..." required
                class="email-field">

              <button type="submit" class="btn">Nhận Tư Vấn</button>
            </form>

          </div>

          <!-- <figure class="hero-banner">
            <img src="./assets/images/hero-banner.png" width="587" height="839" alt="hero banner" class="w-100">
          </figure> -->

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle text-center">Dịch vụ của chúng tối</p>

          <h2 class="h2 section-title text-center">Chúng tôi cung cấp</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="image/service-icon-1.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Chỉnh Sửa Chân Răng</h3>

                  <p class="card-text">
                    Dịch vụ Chỉnh Sử Chân Rằng giúp bạn tự tin hơn với hình ảnh cá nhân hoàn hảo.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="image/service-icon-2.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Niềng Răng</h3>

                  <p class="card-text">
                    Niềng Răng mang đến cho bạn nụ cười hoàn hảo và tự tin.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="image/service-icon-3.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Răng Sứ</h3>
                  Răng sứ là giải pháp hoàn hảo cho nụ cười trắng sáng và tự tin.
                  <p class="card-text">
                    
                  </p>
                </div>

              </div>
            </li>

            <li class="service-banner">
              <figure>
                <img src="image/service-banner.png" width="409" height="467" loading="lazy"
                  alt="service banner" class="w-100">
              </figure>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="image/service-icon-4.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Vệ Sinh Toàn Diện</h3>

                  <p class="card-text">
                    Dịch vụ vệ sinh răng toàn diện giúp duy trì nụ cười sáng khoẻ và tự tin.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="image/service-icon-5.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Tư Vấn Trực Tuyến</h3>

                  <p class="card-text">
                    Là công cụ hiệu quả để bạn nhận được thông tin và hỗ trợ chuyên môn mọi lúc mọi nơi.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="image/service-icon-6.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Vệ Sinh Khoang Miệng</h3>

                  <p class="card-text">
                    Là bước quan trọng giúp duy trì sức khỏe nướu và răng,giảm nguy cơ về hô hấp và tiêu hóa.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- 
        - #DOCTOR
      -->
      
      <section class="section doctor" id="doctor" aria-label="doctor">
        <div class="container">

          <p class="section-subtitle text-center">Đội Ngũ Bác Sĩ</p>

          <h2 class="h2 section-title text-center">Nha Khoa Quốc Tế Y Đức</h2>
          
          <ul class="has-scrollbar">
             

            <!-- Dentist 1  -->
            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src=<%= ListDentists[0].AnhDaiDien %> width="460" height="500" loading="lazy" alt="Howard Holmes"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title"><%= ListDentists[0].TenNhaSi %></a>
                </h3>

                <p class="card-subtitle"><%= ListDentists[0].HocVan %></p>
              </div>
            </li>
            

             <!-- Dentist 2  -->
            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src=<%= ListDentists[1].AnhDaiDien %> width="460" height="500" loading="lazy" alt="Ella Thompson"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title"><%= ListDentists[1].TenNhaSi %></a>
                </h3>

                <p class="card-subtitle"><%= ListDentists[1].HocVan %></p>

              </div>
            </li>


             <!-- Dentist 3  -->
            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src=<%= ListDentists[2].AnhDaiDien %> width="460" height="500" loading="lazy" alt="Vincent Cooper"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title"><%= ListDentists[2].TenNhaSi %></a>
                </h3>

                <p class="card-subtitle"><%= ListDentists[2].HocVan %></p>

            

              </div>
            </li>



             <!-- Dentist 4  -->
            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src=<%= ListDentists[3].AnhDaiDien %> width="460" height="500" loading="lazy" alt="Danielle Bryant"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title"><%= ListDentists[3].TenNhaSi %></a>
                </h3>

                <p class="card-subtitle"><%= ListDentists[3].HocVan %></p>

              </div>
            </li>

          </ul>

        </div>
      </section>


    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer" id="last-footer" aria-label="last-footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">Nha Khoa Y Đức.</a>

          <p class="footer-text">
            Chúng tôi ở đây với sứ mệnh mang đến hàng triệu tương lai hạnh phúc qua nụ cười của bạn. 
            Hãy để chúng tôi chăm sóc cho nụ cười của bạn. 
          </p>

          <div class="schedule">
            <div class="schedule-icon">
              <ion-icon name="time-outline"></ion-icon>
            </div>

            <span class="span">
              Thứ 2 - Thứ 7:<br>
              7:00am - 10:00pm
            </span>
          </div>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Thông Tin</p>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Trang chủ</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Về chúng tôi</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Dịch vụ</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Dự án</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Đội ngũ</span>
            </a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Dịch vụ</p>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Niềng Răng</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Vệ Sinh Toàn Diện</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Nhổ Răng Khôn</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Bọc Răng Sứ</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Chăm Sóc Trực Tuyến</span>
            </a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Liên Lạc</p>
          </li>

          <li class="footer-item">
            <div class="item-icon">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="item-text">
              227 Nguyễn Văn Cừ, Phường 4 <br>
              Quận 5, TP.Hồ Chí Minh
            </address>
          </li>

          <li class="footer-item">
            <div class="item-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:0985.985.985" class="footer-link">0985.985.985</a>
          </li>

          <li class="footer-item">
            <div class="item-icon">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="yduc@.dental.vn" class="footer-link">yduc@.dental.vn</a>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2024 All Rights Reserved by codewithsadee.
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
  </a>



  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
