<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nha Khoa Quốc Tế Y Đức</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="image/dental-clinic.jpeg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:wght@400;500;600&display=swap"
        rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body id="top">

    <!-- 
    - #HEADER
  -->

    <header class="header">

        <div class="header-top">
            <div class="container">

                <ul class="contact-list">

                    <li class="contact-item-mail">
                        <ion-icon name="mail-outline"></ion-icon>

                        <a href="mailto:yduc@.dental.vn" class="contact-link">yduc@.dental.vn</a>
                    </li>

                    <li class="contact-item-call">
                        <ion-icon name="call-outline"></ion-icon>

                        <a href="tel:0985.985.985" class="contact-link">0985.985.985</a>
                    </li>
                    <li class="nofication">
                        <ion-icon name="notifications-outline"></ion-icon>
                        <!-- <a href="notification" class="contact-link">Thông Báo</a> -->
                    </li>
                    <li class="message">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        <!-- <a href="message" class="contact-link">Tin Nhắn</a> -->
                    </li>
                    <li class="homepage-icon">
                        <a href="/staff">
                        <ion-icon name="home-outline"></ion-icon>
                        </a>
                    </li>    
                </ul>


            </div>
        </div>
    </header>


    <div class="sidebar">
        <div class="logo-details">
            <!-- <i class='bx bxl-c-plus-plus icon'></i> -->
            <!-- <div class="logo_name">Y Đức Dental Clinic</div> -->
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <!-- <li>
                <a href="/staff/dashboard">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li> -->
            <li>
                <a href="/staff/appointment">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Duyệt lịch hẹn</span>
                </a>
                <span class="tooltip">Duyệt lịch hẹn</span>
            </li>
            <li>
                <a href="/staff/patient-record">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Danh sách bệnh nhân</span>
                </a>
                <span class="tooltip">Danh sách bệnh nhân</span>
            </li>
            <li>
                <a href="/staff/setting">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Cài đặt</span>
                </a>
                <span class="tooltip">Cài đặt</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <div class="name_job">
                        <div class="name">
                            <%= user.hoten %>
                        </div>
                        <div class="job">Staff</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>
    <div class="table-container">
        <h1 class="page-title">Các cuộc hẹn chờ xác nhận</h1>
        <table class="appointment-table">
            <thead>
                <tr>
                    <th>Thời gian yêu cầu</th>
                    <th>Ngày giờ hẹn</th>
                    <th>Loại điều trị</th>
                    <th>Bác sĩ khám</th>
                    <th>Hành động</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < Appointments.length ;i++) { %>
                    <tr>
                        <td><%= new Date(Appointments[i].ThoiGianYeuCau).toLocaleDateString('en-GB') + ' ' + new Date(Appointments[i].ThoiGianYeuCau).toLocaleTimeString('en-US', { hour12: false }) %></td>

                        <td><%= new Date(Appointments[i].ngaygiohen).toLocaleDateString('en-GB') + ' ' + new Date(Appointments[i].ngaygiohen).toLocaleTimeString('en-US', { hour12: false }) %></td>
                        <td><%= Appointments[i].LoaiDieuTri %></td>
                        <td><%= Appointments[i].TenNhaSi %></td>

                        <td>
                            <form action="confirm-appointment" method="POST">
                                <input type="hidden" name="appointmentId" value="<%= Appointments[i].malichhen %>">
                                <button type="submit" class="confirm-btn">
                                    Xác nhận
                                </button>
                            </form>
                        </td>
                        
                        
                        <!-- <td><%= Appointments[i].TinhTrang %></td> -->
                        <td>
                            <form action="cancel-appointment" method="POST">
                                <input type="hidden" name="appointmentId"  value="<%= Appointments[i].malichhen %>">
                                <button  type = 'submit' class="cancel-btn" >
                                    Hủy lịch hẹn
                                </button>
                            </form>
                            
                        </td>
                    <%}%>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="confirmationModal">
        <div class="modal-content">
            <h2>Xác nhận muốn hủy lịch hẹn</h2>
            <div class="appointment-details">
                <p><strong>Tên dịch vụ:</strong> <span id="service"></span></p>
                <p><strong>Tên Bác sĩ:</strong> <span id="doctor"></span></p>
                <p><strong>Ngày khám:</strong> <span id="date"></span></p>
                <p><strong>Giờ khám:</strong> <span id="time"></span></p>
            </div>
            <div class="buttons">
                <button id="confirmCancelButton" class="cancel-button">Hủy lịch hẹn</button>
                <button id="closeModalButton" class="back-button">Quay lại</button>
            </div>
        </div>
    </div>

    <script>
        let sidebar2 = document.querySelector(".sidebar");
        let closeBtn2 = document.querySelector("#btn");
        let searchBtn2 = document.querySelector(".bx-search");
        closeBtn2.addEventListener("click", () => {
            sidebar2.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
        });
        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
            sidebar2.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });
        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar2.classList.contains("open")) {
                closeBtn2.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            } else {
                closeBtn2.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
            }
        }
    </script>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.cancel-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const service = this.getAttribute('data-service');
                    const doctor = this.getAttribute('data-doctor');
                    const date = this.getAttribute('data-date');
                    const time = this.getAttribute('data-time');
        
                    document.getElementById('service').textContent = service;
                    document.getElementById('doctor').textContent = doctor;
                    document.getElementById('date').textContent = date;
                    document.getElementById('time').textContent = time;
        
                    document.getElementById('confirmationModal').style.display = 'flex';
                });
            });
        
            document.getElementById('closeModalButton').addEventListener('click', function() {
                document.getElementById('confirmationModal').style.display = 'none';
            });
        
            
        });
    </script> -->

    <script>
        document.getElementById('log_out').addEventListener('click', function() {
            window.location.href = '/'; // Thay đổi URL này thành URL trang chủ của bạn
        });
    </script>



    <!-- 
        - #HERO
      -->

    <!-- 
        - #SERVICE
      -->
    <!-- 
        - #DOCTOR
      -->



    <!-- 
    - #FOOTER
  -->

    <!-- #BACK TO TOP
  -->

    <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
    </a>



    <!-- 
    - custom js link
  -->
    <script src="./assets/js/script.js" defer></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>